.image_upload {
    display: grid;
    grid-template-columns: auto;
    max-width: 50%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
     margin-bottom: 10px;
     background-color: white;
     border-top: 1px solid lightgray;
}
.progress {
    width: 100%;
}

.caption{
    margin-top: 5px;
    margin-bottom: 5px;
}

.upload {
    margin-bottom: 5px;
}