
.header {
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    display: flex;

    justify-content: space-between;
    margin-bottom: 10px;

}

.header_img {
    width: 106px;
    height: 29px;
}
.login__container {

    display: flex;
}