.imagePost {
  width: 500px;
  object-fit: contain;
  border: 1px solid lightgray;
  background-color: white;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
align-items: center;
  
}
.post_img {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post_text {
  font-weight: normal;
  margin-top: 10px;
  padding: 10px 10px;
  margin-bottom: 10px;

}
.post_header {
  display: flex;
  align-items: center;
  padding: 15px 10px;
}
.post_avatar{
  margin-right: 10px;
}
.comment_box{
  display: flex;
  border-top: 1px solid lightgray;
}
.post_input {
  flex: 1;
  border: none;
  outline: 1px solid lightgray;
  padding: 10px;
}
.post_button {

  flex: 0;
  color: #6082a3 ;
  background-color: transparent;
  /* border-top: 1px solid lightgray; */
}